@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "modules/stylereset.scss";
@import "modules/animations.scss";
@import "modules/buttons.scss";

.body {
  background-color: #3767ad;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__link {
    font-size: 20px;
    color: #ffffff;
    padding: 24px 0 0 0;
  }
  &__heading {
    color: #ffffff;
    font-size: 55px;
    margin-top: 87px;
    margin-bottom: 68px;
    &--another {
      font-size: 32px;
      margin: 30px 0;
    }
  }
  &__glass {
    background-image: url("../../public/waterGlass.svg");
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-counter {
      font-size: 112px;
    }
  }
  &__history {
    min-width: 100vw;
    &-list {
      &-item {
        list-style-type: square;
        color: #ffffff;
        font-size: 20px;
        margin: 8px 0;
      }
    }
  }
}
